.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 120px;
}

.description{
  font-size: 10px;
  text-align: center;
}

.count{
  font-size: 20px;
  font-weight: bold;
}

.statusIcon {
  border-radius: 50%;
  width: 12px;
  height: 12px;
  background: red;
}
