.search-form {
  display: flex;
  width: 1600px;
  margin: auto;
}

.history-container,
.result-container {
  width: 400px;
}

.insight-result {
  margin: 10px 0;
}

.insight-chart {
  width: 300px;
  margin: 0 auto;
}

.chart {
  margin: 0 auto;
}

.insight-form {
  margin: 10px 0;
}
