name: CI

on: [push]

jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1
        with:
          submodules: true

      - name: Use Node.js 16.x
        uses: actions/setup-node@v1
        with:
          node-version: 16.x

      - name: build
        env:
          NODE_OPTIONS: --max_old_space_size=4096
          BUILD_TARGET: zh
        run: |
          cd archguard
          yarn
          yarn build
